# ===== BINANCE API (NEW - FUTURES ENABLED) =====
BINANCE_API_KEY=EbbmGRu5L2jVHyowrt9clIg7gNY34BULQVbinNuNzVGeEt3kckkULcvEcwaIzeeR
BINANCE_API_SECRET=XGeMEypWrdX3zXO5N4X7TPLILnEtTRjsN2QiUkbQB2Ofohd7VZtNR5Ozydnf7L8E

# ===== TELEGRAM BOT =====
TELEGRAM_BOT_TOKEN=8526613698:AAG1g7Hc-ZiukV20e6XHW6LPEG1vAor_a_4
TELEGRAM_CHAT_ID=5223741844

# ===== TRADINGVIEW WEBHOOK =====
TRADINGVIEW_WEBHOOK=https://crypto-data-aggregator-backend.onrender.com
